
<div class='top-block'>

    <h1>2020 <%= @model.brand.name %> <%= @model.name %></h1>

    <div class='fav'>
        <% if !(@current_user == nil) %>
            <% if @current_user.favorites.find {|f| f.model_id == @model.id} %>
                <% f = @current_user.favorites.find {|f| f.model_id == @model.id} %>
                <%= button_to "Remove from Your Favorites", remove_favorite_model_path(f), method: :delete, class: "delete-btn" %>
            <% else %>
                <%= button_to "Add to Your Favorites", add_favorite_path(@model), method: :put, class: 'fav-btn' %>
            <%end%>
        <%end%>
    </div>

    <%= image_tag('https://www.tesla.com/assets/img/ms_fb_s.jpg', class: 'car-img') %>

</div>

<div class ='middle-block'>

    <h2>Car Details</h2>

    <br>

    <p class="vehicle-type">Vehicle Type: <%= @model.vehicle_type.name %></p>
    
    <p class="vehicle-cost">Price: <%= number_to_currency(@model.price, precision: 0) %></p>
    
    <p class="vehicle-brand">Brand: <%= @model.brand.name %></p>
    
    <p class="vehicle-ecoscore">This model has an EcoScore of <%= @model.eco_score %></p>

</div>


<!-- button_to "Add to My Favorites", new_favorite_path, redirect_to model_path(@model) -->

<br>

<li> Here are some comparable cars that are even better for the environment: </li>