<div class="form-container">
<%= form_for @user do |f| %>
    <div id="welcome">Edit User</div>
    <% if flash[:my_errors] %>
        <% flash[:my_errors].each do |error| %>
        <li><%= error %></li>
        <% end%>
    <% end %>
    <div class="form-input">
    <%= f.label :username %>
    <%= f.text_field :username %>
    </div>
    <div class="form-input">
    <%= f.label :password %>
    <%= f.password_field :password %>
    </div>
    <%= f.submit "Update", class: "form-btn" %>
<% end %>
</div>