<!DOCTYPE html>
<html>
  <head>
    <title>EcoCar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="banner">
      <%= image_tag "ecocar.png", class: "banner-img" %>

        <div class="bird-container bird-container-one">
          <div class="bird bird-one"></div>
        </div>
        
        <div class="bird-container bird-container-two">
          <div class="bird bird-two"></div>
        </div>
        
        <div class="bird-container bird-container-three">
          <div class="bird bird-three"></div>
        </div>
        
        <div class="bird-container bird-container-four">
          <div class="bird bird-four"></div>
        </div>
    </div>

    <ul class="nav">
      <li><%= link_to "Home", brands_path %></li>

      <% if @current_user %>
        <li class="left"><%= link_to "My Favorites", favorites_path %></li>
        <li class="left"><%= link_to "My Profile", user_path(@current_user) %></li>
        <li class="right"><%= link_to "Logout", logout_path, method: :delete  %></li>
      <% else %>
        <li class="right"><%= link_to "Sign Up", new_user_path %></li>
        <li class="right"><%= link_to "Login", new_login_path %></li>
      <% end %>
    </ul>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
